@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Session;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["title"] = "Dashboard";
    ViewData["breadcrumb"] = "";
    ViewData["breadcrumb_active"] = "";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>

</style>
<div>
    @if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("SessionFullname")))
    {
        <div class="row">
            <div class="col">
                <h1 class="heading">Hello : @HttpContextAccessor.HttpContext.Session.GetString("SessionFullname")</h1>
            </div>
            <div class="col">
                <h1 class="heading">
                    Role :
                    @if (HttpContextAccessor.HttpContext.Session.GetString("SessionRoleId") == "4")
                    {
                        <span class="nav-link role">TRAINING</span>
                    }
                    else if (HttpContextAccessor.HttpContext.Session.GetString("SessionRoleId") == "1")
                    {
                        <span class="nav-link role">Admin</span>
                    }
                    else if (HttpContextAccessor.HttpContext.Session.GetString("SessionRoleId") == "2")
                    {
                        <span class="nav-link role">TRAINER</span>
                    }
                    else if (HttpContextAccessor.HttpContext.Session.GetString("SessionRoleId") == "3")
                    {
                        <span class="nav-link role">TRAINEE</span>
                    }
                </h1>
            </div>

        </div>


    }
</div>